/*
assigned devinate demension values to html and body

*/

/* height and width into %s */

html,
body{
    height: 100%;
    width: 100%;
    
    margin: 0px;
    padding: 0px;
    
    background-color:#7a1501;
}

/*
added css for new header tag
*/

header{
    background-color: white;
    float: left;
    
    width: 100%;
    height: 30%;
    
    margin: 0px;
    padding: 0px;
    
    text-align: center;
    
    background-image: url('http://i.imgur.com/vxjSlIz.png');
    background-repeat: no-repeat;
    background-position: ;
    
}

img{
padding: 5%;
}


/*
removed list item css
removed/fixed the nav tag

added the background image to the navigation
*/

nav{
    height: 100%;
    width: 100%;
    
    
}

/*added in main tag*/

main{
    height: 100%;
    width: 100%;
}

a:hover{
    color:#f9da0c;
}
a{
    color:black;
    text-decoration:none;
}

/*
removed the unordered list and owl image
owl image is now set to background image

*/



/*deleted #div2 and #p as they are irrelavant*/

/**/

.left{
    
}

.box{
    
}

#what{
    
}

#why{
    
}

.right{
    
}

#how{
}

#details{
    
}


/* took out div named footer, 
turned into real footer
gave height and width
position rel + top */

footer{
    color:#7a1501;
    background-color:#f9da0c;
    
    text-align:center;
    display:block;
    
    top: 15%;
    position: relative;
    
    height: 5%;
    width: 100%;
}

