nav{
    
    
}
html, body{
    
    background-color:#7a1501;
}
img{
    
padding:15px;
    
}
li{
    display:inline-block;
    padding:20px;
}
#nav{
    
    background-color:white;
    
}
a:hover{
    color:#f9da0c;
}
a{
    color:black;
    text-decoration:none;
}
ul{
    text-align:center;
    
    font-family:'Lato' sans-serif;
    font-size:1vw;
    font-weight:bold;
    
}
#imagepng{
    float:right;
    margin-right:10%;
    padding-bottom:100px;
}
.footer{
    color:#7a1501;
    background-color:#f9da0c;
    
    text-align:center;
    display:block;
}
#div2{
    display:block;
    float:left;
    
    color:white;
    size:2vw;
    
}
#p{
    
        display: block;
}