html, body{
    background:url('http://i.imgur.com/tEnxgiC.jpg') no-repeat center center fixed;
    background-size: cover;
    
}

header{
    position:relative;
    bottom:30px;
    background-color:#7a1501;
    width:100%;
    height:100px;
}

#index_page{
    float:left;
}

li{
    font-family:'Lato' sans-serif;
    font-size:2.5vh;
    font-weight:bold 2px;
    
    
    position:relative;
    bottom:40px;
    padding:10px;
    display:inline-block;
    text-align:center;
}
.contacts{
    color:#fdda0c;
}
ul{
    margin-right:25%;
    float:right;
    display:inline-block;
    text-align:center;
    
    
    font-weight:bold;
    color:white;
}
a{
    color:white;
    text-decoration:none;
}

a:hover{
    color:#fdda0c;
}
img{
    position:relative;
    top:35px;
    padding-left:345px;
    margin-left:10%;
    text-align:center
    
}

#signup{
    float:right;
    margin-left:200px;
    position:relative;
    left:700px;
    bottom:44px;
    
    
	background-color:#fdda0c;
	display: table;
	padding: 4px;
	margin: 4px 4px 0px 4px;
	height:10px;
	width:25px;
    
	
	font-size:2vh;
	font-family:'Lato' sans-serif;
	font-weight:lighter;
}

